@import url("https://fonts.googleapis.com/css?family=Poppins:300|VT323");
body {
  background: #383a3a;
}

#sidr-show-hide {
  padding: 1em;
  font-family: "VT323", monospace;
}

a {
  text-decoration: none;
  color: #fff;
}

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 16em;
  overflow-x: hidden;
  overflow-y: auto;
  background: #383a3a;
}
.sidr.left {
  left: -16em;
  right: auto;
}
.sidr #close {
  float: right;
  padding: .5em .5em 0 0;
  color: #fff;
  font-family: "VT323", monospace;
  font-size: 2em;
}
.sidr ul {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-align: right;
  padding-right: 1em;
  text-color: #fff;
  position: relative;
  top: -40px;
}
.sidr li a {
  font-size: 2.5em;
  line-height: 1.5em;
}

section {
  min-height: 20em;
  width: 100%;
  position: absolute;
  background: #252626;
}

:target {
  z-index: 1;
}
